body {
  width: 100%;
  height: 100vh;
  background-color: #131312;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  width: 85%;
  height: 95%;
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
header .menu_side,
.song_side {
  position: relative;
  width: 25%;
  height: 90%;
  /*border: 1px solid #fff;*/
  background-color: #111727;
  box-shadow: 5px 0px 2px #090f1f;
  color: #fff;
}
header .info_side {
  width: 75%;
  background-color: #0b1320;
}
header .master_play {
  width: 100%;
  height: 10%;
  background: #111727;
  box-shadow: 0px 3px 8px #090f1f;
}
header .menu_side h1 {
  font-size: 30px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}
header .menu_side .user {
  margin: 40px 0px 0px 20px;
}
header .menu_side .user h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}
header .menu_side .user h4:hover {
  color: #fff;
}
header .menu_side .user h4 span {
  position: relative;
  margin-right: 35px;
}
header .menu_side .user h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}
header .menu_side .user h4 span::before:hover {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}
header .menu_side .user h4 .bi {
  display: none;
}
header .menu_side .user .active {
  color: #36e2ec;
}
header .menu_side .user .active span {
  display: none;
}
header .menu_side .user .active .bi {
  display: flex;
  margin-right: 20px;
}
header .menu_side .menu_song {
  width: 99%;
  height: 315px;
  /*border: 1px solid #fff;*/
  margin-top: 40px;
}
header .menu_side .menu_song li {
  position: relative;
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}
header .menu_side .menu_song li:hover {
  background: rgb(105, 105, 170, 0.1);
}
header .menu_side .menu_song li span {
  font-size: 20px;
  font-weight: 600;
  color: #4c5262;
}
header .menu_side .menu_song li img {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}
header .menu_side .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
}

header .menu_side .menu_song li h5 .subtitle {
  font-size: 9px;
  color: #4c5262;
}
header .menu_side .menu_song li .bi {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  align-items: center;
}
header .info_side .navbar {
  color: #fff;
  display: flex;
  align-items: center;
}
header .info_side .navbar nav ul {
  display: flex;
}
header .info_side .navbar nav ul li {
  list-style: none;
  position: relative;
  font-size: 13px;
  color: #4c5262;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
  display: flex;
}
header .info_side .navbar nav ul li:hover {
  color: #fff;
}
header .info_side .navbar nav ul li:nth-child(1) {
  color: #fff;
}
header .info_side .navbar nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #36e2ec;
  bottom: -5px;
  left: 0px;
  border-radius: 20px;
  display: flex;
}
header .info_side .navbar nav .search {
  color: #fff;
  margin-left: 300px;
}
header .info_side img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
}
header .info_side .username {
  font-size: 30px;
  color: #fff;
  align-items: center;
  padding: 10px;
  margin-left: 25px;
  display: flex;
}
header .info_side .infomation {
  font-size: 20px;
  line-height: 2;
  color: #fff;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  display: flex;
}
