.bodyadminsong {
  width: 100vw;
  height: 100vh;
  background-color: #131312;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headeradminupload {
  width: 85%;
  height: 95%;
  border: 1px solid #1d2e5c;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.headeradminupload .menu_side,
.data_side {
  position: relative;
  width: 25%;
  height: 100%;
  /*border: 1px solid #fff;*/
  background-color: #111727;
  box-shadow: 5px 0px 2px #090f1f;
  color: #fff;
}
.headeradminupload .data_side {
  width: 75%;
  background-color: #0b1320;
}
.headeradminupload .menu_side h1 {
  font-size: 30px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}
.headeradminupload .menu_side .menu_list {
  margin: 40px 0px 0px 20px;
}
.headeradminupload .menu_side .menu_list h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.headeradminupload .menu_side .menu_list h4:hover {
  color: #fff;
}
.headeradminupload .menu_side .menu_list h4 span {
  position: relative;
  margin-right: 35px;
}
.headeradminupload .menu_side .menu_list h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}
.headeradminupload .menu_side .menu_list h4 span::before:hover {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}
.headeradminupload .menu_side .menu_list h4 .bi {
  display: none;
}
.headeradminupload .menu_side .menu_list .active {
  color: #36e2ec;
}
.headeradminupload .menu_side .menu_list .active span {
  display: none;
}
.headeradminupload .menu_side .menu_list .active .bi {
  display: flex;
  margin-right: 20px;
}
.headeradminupload .menu_side .founder_side {
  margin-top: 50px;
  width: 99%;
  height: 63%;
  border: 1px solid #00ccff;
  line-height: 100px;
}

/* song-side */

.headeradminupload .data_side nav {
  width: 90%;
  height: 10%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headeradminupload .data_side nav ul {
  display: flex;
}

.headeradminupload .data_side nav ul li a {
  text-decoration: none;
  list-style: none;
  position: relative;
  font-size: 13px;
  color: rgba(193, 193, 205, 0.567);
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

.headeradminupload .data_side nav ul li a:hover {
  color: #fff;
}

.headeradminupload .data_side nav ul li a:nth-child(1) {
  color: #fff;
}

.headeradminupload .data_side nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #36e2ec;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

.headeradminupload .data_side nav .search {
  position: relative;
  width: 40%;
  padding: 1px 10px;
  border-radius: 20px;
  color: gray;
  margin-left: 200px;
  background: #18202c;
}

.headeradminupload .data_side nav .search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(105, 105, 170, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.headeradminupload .data_side nav .search .bi {
  font-size: 13px;
  padding: 3px 0px 0px 10px;
}

.headeradminupload .data_side nav .search input {
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  color: #fff;
  font-size: 12px;
}
.headeradminupload .data_side .carousel {
  width: 90%;
  height: 30%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
}
.headeradminupload .data_side .carousel .image {
  position: relative;
  width: 70%;
  height: 100%;
  min-height: 100% !important;
  margin-right: 10px;
}

.headeradminupload .data_side .carousel .image:before {
  display: block;
  text-align: center;
}
.headeradminupload .data_side .uploadInfo {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  align-items: center;
  justify-items: center;
  line-height: 30px;
  margin-top: 4%;
}
.headeradminupload .data_side .uploadInfo .songName {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  align-items: center;
  justify-items: center;
  line-height: 30px;
}
.headeradminupload .data_side .uploadInfo .songAuthor {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  align-items: center;
  justify-items: center;
  line-height: 30px;
}
.headeradminupload .data_side .uploadInfo .songUrl {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  align-items: center;
  justify-items: center;
  line-height: 30px;
}
.headeradminupload .data_side .uploadInfo input {
  color: #fff;
  font-size: 15px;
  align-items: center;
  justify-items: center;
  margin-left: 10%;
  background: #18202c;
  line-height: 30px;
  position: relative;
}
.headeradminupload .data_side .uploadInfo .submit {
  color: #000;
  font-weight: bold;
  text-align: center;
  justify-items: center;
  text-align: center;
  background: #0db2a4;
  width: 10%;
  height: 40px;
  cursor: pointer;
  border-radius: none;
}
.headeradminupload .data_side .outline {
  height: 120px;
  width: 100%;
  margin-top: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.headeradminupload .data_side .outline::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 100%;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.headeradminupload .data_side .outline span {
  position: absolute;
  inset: 5px;
  background: none;
  z-index: 1;
}
.headeradminupload .data_side .outline .wave section {
  position: absolute;
  width: 99%;
  height: 110px;
  top: 5px;
  background: #070c18;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  bottom: 5px;
}
.headeradminupload .data_side .outline .wave section h2 {
  position: relative;
  font-weight: 2;
  font-style: italic;
}
.headeradminupload .data_side .outline .wave svg {
  position: absolute;
  top: 0;
  left: 0;
}
