body {
  width: 100vw;
  height: 100vh;
  background-color: #131312;
  /*font-family: "Poppins", sans-serif;*/
  display: grid;
  place-items: center;
}

header {
  width: 85%;
  height: 95%;
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
header .left_bx1,
.right_bx1 {
  position: relative;
  width: 65%;
  height: 100%;
  border: 1px solid #0db2a4;
  background: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left_bx1 {
  width: 35%;
  background: #fff;
  /* box-shadow: 5px 0px 2px #000; */
}

header .left_bx1 .content {
  width: 75%;
  height: auto;
  border: none;
  padding: 25px 20px;
  background: #fff;
}

header .left_bx1 .content .card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

header .left_bx1 .content .card label {
  font-size: 14px;
}

header .left_bx1 .content .card input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid rgb(154, 154, 154);
  background: rgb(238, 238, 238);
  margin-top: 5px;
}

header .left_bx1 .content .submit {
  margin-top: 30px;
  margin-left: 60%;
  padding: 8px 20px;
  color: #000;
  font-weight: bold;
  text-align: center;
  background: #0db2a4;
  width: 40%;
  cursor: pointer;
}

header .left_bx1 .content .error-message{
  color: rgba(255, 0, 0, 0.855);
  font-size: 15px;
}

header .left_bx1 .content .check {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header .left_bx1 .content .check span {
  margin-left: 5px;
  font-size: 13px;
}

header .left_bx1 .content p {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
}

header .left_bx1 .content p a {
  text-decoration: underline;
  color: rgb(31, 6, 72);
  font-weight: bold;
}

header .right_bx1 {
  background: #0db2a4;
}

header .right_bx1 h3 {
  position: absolute;
  background: #000;
  color: #fff;
  right: 0;
  bottom: 20px;
  padding: 3px 10px;
  border-radius: 5px 5px 5px 5px;
  font-size: 13px;
}
